.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
# Include webview HTML and localization files
!media/branchManager.html
!l10n/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
